* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
  overflow-x: hidden;
}

body{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    line-height: 2;
}

body.fade-in {
    opacity: 1;
}

a:focus{
    outline: none;
}

strong{
    color: #9b8a29;
}

#nav-desktop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 50px 15% 16px 15%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.5);
}

#nav-desktop img{
    max-width: 100%;
    width: 50px;
}

#nav-desktop .menu{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#nav-desktop .menu > li{
    display: flex;
    margin-left: 50px;
    position: relative;
}

#nav-desktop .menu a{
    display: flex;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#nav-desktop .menu .dropdown .submenu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.15s ease;
  position: absolute;
  top: 100%;
  left: 0;
  background: #222;
  list-style: none;
  padding: 0;
  margin: 1px 0 0 10px;
  z-index: 1000;
  border-radius: 0px 7px 7px 7px;
}

#nav-desktop .menu .dropdown li{
    display: flex;
    line-height: 100%;
    margin: 15px 80px 15px 10px;
}

#nav-desktop .menu a:hover{
    color: #e2ca3f;
}

#nav-desktop .menu .dropdown:hover .submenu,
#nav-desktop .menu .dropdown:focus-within .submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#nav-desktop .download{
    display: inline-block;
    margin-left: -1px;
    color: #e2ca3f !important;
    position: relative;
}

#nav-desktop .download::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border-bottom: solid 1px #e2ca3f;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 15% 0px 15%;
}

strong {
    color: #9b8a29;
}

#link{
    color: rgb(0, 204, 255);
}

#img-vertical{
    width: auto;
    height: 100%;
    max-height: 460px;
    aspect-ratio: 9/16;
    object-fit: cover;
    background: none;
    border: none;
    outline: none;
    border-radius: 5px;
}

#img-horizontal{
    width: 100%;
    height: auto;
    max-width: 480px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: none;
    border-radius: 5px;
    outline: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: #2b2b2b;
    gap: 5px;
    height: 70px;
    border-radius: 5px;
}

.home h4{
    text-transform: uppercase;
    color: #9b8a29;
    font-weight: bold;
}

.home a{
    color: white;
    text-decoration: none;
}

.home a:hover{
  text-decoration: underline;
}

.container-download{
    margin-top: 166px;
}

.container-download .title-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 24px;
    margin-bottom: 40px;
}

.container-download .title-text h2{
    text-transform: uppercase;
    line-height: 28px;
}

.container-download .download{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-download .download .linha{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #2b2b2b;
    border-radius: 5px;
}

.container-download .download .linha p{
    text-transform: capitalize;
    line-height: 16px;
    overflow: hidden;
    max-width: 50%;
}

.container-download .download .linha .container-buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 60%;
}

/* Múscias para download*/

.container-audio{
    display: flex;
    flex-direction: column;
}

.container-audio .title-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 24px;
    margin-bottom: 40px;
}

.container-audio .title-text h2{
    text-transform: uppercase;
    line-height: 30px;
}

.container-audio .title-text p{
    text-transform: justify;
}

.container-audio .audio{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-audio .audio .title-audio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b;
    padding: 10px;
    border-radius: 5px;
}

.container-audio .audio .title-audio p{
    line-height: 16px;
    overflow: hidden;
    color: #9b8a29;
}

.container-audio .audio .title-audio .player{
    width: 250px;
    height: 50px;
    background-color: rgb(241, 243, 244);
    border-radius: 4px;
}

/* Vídeos para download*/

.container-video{
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
    margin: 10px;
}

.container-video .title-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 24px;
    margin-bottom: 40px;
}

.container-video .title-text h2{
    text-transform: uppercase;
    line-height: 30px;
}

.container-video .title-text p{
    text-transform: justify;
}

.container-video .video{
    display: flex;
    gap: 50px;
}

.container-video .video .title-video{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container-video .video .title-video p{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    z-index: 1;
    line-height: 100%;
    overflow: hidden;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    border-radius: 4px;
}

.container-video .video .title-video .player{
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
}

/* Logomarca para download*/

.container-img{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.container-img .title-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 24px;
    margin-bottom: 40px;
}

.container-img .title-text h2{
    text-transform: uppercase;
    line-height: 30px;
}

.container-img .title-text p{
    text-transform: justify;
}

.container-img .img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-img .img .img-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-img .img a{
    line-height: 100%;
    overflow: hidden;
}

.container-img .img .img-banner .fundo-quadriculado{
    display: inline-flex;
    background-color: #ccc;
    background-image: 
    linear-gradient(45deg, #999 25%, transparent 25%),
    linear-gradient(-45deg, #999 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #999 75%),
    linear-gradient(-45deg, transparent 75%, #999 75%);
    background-size: 16px 16px;
    background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
    border-radius: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 50px 15%;
    background-color: #2b2b2b;
}

footer #logo{
    max-width: 200px;
}

footer .content-contact{
    display: flex;
    flex-direction: column;
}

footer .rede-social{
    display: flex;
    align-items: center;
    margin: 30px auto;
    gap: 20px;
    font-size: 30px;
}

footer .fa-instagram{
    display: flex;
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

footer .fa-youtube{
    display: flex;
    color: red;
    overflow: hidden;
}

footer a{
    text-decoration: none;
    color: white;
}

footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer .tel, .email{
    display: flex;
    align-items: center;
    gap: 5px;
}

footer .email i{
    display: flex;
    padding-top: 1.3px;
    align-items: center;
}

footer .contact i{
    color: #9b8a29;
    overflow: hidden;
}

.copy{
    text-align: center;
    padding: 20px 0px;
    color: #9b8a29;
    background-color: #2b2b2b;
}

/*NavBar Mobile*/

#navbar-mobile{
    display: none;
    background-color: #2b2b2b;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbar-mobile .logo a {
    display: flex;
}

#navbar-mobile .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}

#navbar-mobile .logo img{
    max-width: 40px;
}

#navbar-mobile .logo i{
    font-size: 24px;
    padding: 20px 0px;
    color: #9b8a29;
}

#navbar-mobile ul {
    display: flex;
    flex-direction: column;  
}

#navbar-mobile li {
    text-align: center;
    margin-bottom: 30px;
}

#navbar-mobile a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#navbar-mobile .download {
    color: #e2ca3f;
    border-bottom: solid 1px #e2ca3f;
}

#navbar-mobile a:not(.download):hover {
    color: #e2ca3f;
}

#navbar-mobile #mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

#navbar-mobile #mobile-menu.active {
    max-height: 500px;
}