* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    overflow-x: hidden;
}

body {
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    line-height: 2;
}

body.fade-in {
    opacity: 1;
}

a:focus {
    outline: none;
}

#nav-desktop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 50px 15% 16px 15%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.5);
}

#nav-desktop img {
    max-width: 100%;
    width: 50px;
}

#nav-desktop .menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#nav-desktop .menu>li {
    display: flex;
    margin-left: 50px;
    position: relative;
}

#nav-desktop .menu a {
    display: flex;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#nav-desktop .menu .dropdown .submenu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.15s ease;
    position: absolute;
    top: 100%;
    left: 0;
    background: #222;
    list-style: none;
    padding: 0;
    margin: 3px 0 0 10px;
    z-index: 1000;
    border-radius: 0px 7px 7px 7px;
    border: solid 1px #444;
}

#nav-desktop .menu .dropdown li {
    display: flex;
    line-height: 100%;
    margin: 30px 80px 30px 30px;
}

#nav-desktop .menu a:hover {
    color: #e2ca3f;
}

#nav-desktop .menu .dropdown:hover .submenu,
#nav-desktop .menu .dropdown:focus-within .submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#nav-desktop .sobre {
    display: inline-block;
    margin-left: -1px;
    color: #e2ca3f !important;
    position: relative;
}

#nav-desktop .sobre::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border-bottom: solid 1px #e2ca3f;
}

#nav-desktop .select {
    color: #e2ca3f !important;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 164px 15% 50px 15%;
}

strong {
    color: #9b8a29;
}

.link {
    color: rgb(0, 204, 255);
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #2b2b2b;
    margin: 50px auto;
    border-radius: 5px;
}

.linha h3 {
    text-transform: capitalize;
    font-weight: 450;
}

#img-vertical {
    width: auto;
    height: 100%;
    max-height: 460px;
    aspect-ratio: 9/16;
    object-fit: cover;
    background: none;
    border: none;
    outline: none;
    border-radius: 10px;
}

#img-horizontal {
    width: 100%;
    height: auto;
    max-width: 1080px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: none;
    border-radius: 10px;
    outline: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: #2b2b2b;
    gap: 5px;
    height: 70px;
    border-radius: 5px;
}

.home h4 {
    text-transform: uppercase;
    color: #9b8a29;
    font-weight: bold;
}

.home a {
    color: white;
    text-decoration: none;
}

.home a:hover {
    text-decoration: underline;
}

.container-historico {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container-historico .historico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.container-historico .historico .container-text {
    width: 50%;
    text-align: justify;
}

.container-historico .historico .container-text h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.container-historico .historico .container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.container-historico .historico .container-img h3 {
    text-align: center;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #9b8a29;
}

.container-historico .historico .container-img .descricao {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.container-historico .historico .container-img .descricao h4 {
    line-height: 16px;
}

.container-historico .historico .container-img .descricao p {
    font-size: 10px;
    font-style: italic;
    line-height: 16px;
}

/*NavBar Mobile*/

#navbar-mobile {
    display: none;
    background-color: #333333;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbar-mobile .logo a {
    display: flex;
}

#navbar-mobile .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}

#navbar-mobile .logo img {
    max-width: 40px;
}

#navbar-mobile .logo i {
    font-size: 24px;
    padding: 20px 0px;
    color: #9b8a29;
}

#navbar-mobile .menu {
    display: flex;
    flex-direction: column;
}

#navbar-mobile .menu>li {
    text-align: center;
    margin-bottom: 30px;
    list-style: none;
}

#navbar-mobile a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#navbar-mobile .menu .dropdown .submenu {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    list-style: none;
    padding: 0;
}

#navbar-mobile .menu .dropdown .submenu li {
    margin-top: 30px;
}

#navbar-mobile .menu .dropdown .submenu li a {
    color: #9b8a29;
}

#navbar-mobile .sobre {
    display: inline-block;
    color: #e2ca3f;
    position: relative;
}

#navbar-mobile .sobre::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border-bottom: solid 1px #e2ca3f;
}

#navbar-mobile .select {
    color: #e2ca3f !important;
}

#navbar-mobile .menu .dropdown .submenu.open {
    max-height: 200px;
}

#mobile-menu.open {
    max-height: 500px;
    padding: 20px 0;
}

#navbar-mobile #mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

#navbar-mobile #mobile-menu.active {
    max-height: 500px;
}