* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

body{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    line-height: 2;
}

body.fade-in {
    opacity: 1;
}

a:focus{
    outline: none;
}

#nav-desktop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 50px 15% 16px 15%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.5);
}

#nav-desktop img{
    max-width: 100%;
    width: 50px;
}

#nav-desktop ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#nav-desktop li{
    display: flex;
    margin-left: 50px;
    border-radius: 5px;
}

#nav-desktop a{
    display: flex;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#nav-desktop a:not(.portfolio):hover{
    color: #e2ca3f;
}

#nav-desktop .portfolio{
    color: #e2ca3f;
    border-bottom: solid 1px #e2ca3f;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 164px 15% 50px 15%;
}

strong {
    color: #9b8a29;
}

#link{
    color: rgb(0, 204, 255);
}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: #2b2b2b;
    margin: 50px auto;
    border-radius: 5px;
}

.linha h3{
    text-transform: capitalize;
    font-weight: 450;
}

#img-vertical{
    width: auto;
    height: 100%;
    max-height: 460px;
    aspect-ratio: 9/16;
    object-fit: cover;
    background: none;
    border: none;
    outline: none;
    border-radius: 10px;
}

#img-horizontal{
    width: 100%;
    height: auto;
    max-width: 1080px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: none;
    border-radius: 10px;
    outline: none;
}

.container-historico{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container-historico .historico{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.container-historico .historico .container-text{
    width: 50%;
    text-align: justify;
}

.container-historico .historico .container-text h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.container-historico .historico .container-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.container-historico .historico .container-img h3{
    text-align: center;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #9b8a29;
}

.container-historico .historico .container-img .descricao{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
}

.container-historico .historico .container-img .descricao h4{
    line-height: 16px;
}

.container-historico .historico .container-img .descricao p{
    font-size: 10px;
    font-style: italic;
    line-height: 16px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15%;
    background-color: #2b2b2b;
}

footer #logo{
    max-width: 200px;
}

footer .content-contact{
    display: flex;
    flex-direction: column;
}

footer .rede-social{
    display: flex;
    align-items: center;
    margin: 30px auto;
    gap: 20px;
    font-size: 30px;
}

footer .fa-instagram{
    display: flex;
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

footer .fa-youtube{
    display: flex;
    color: red;
    overflow: hidden;
}

footer a{
    text-decoration: none;
    color: white;
}

footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer .tel, .email{
    display: flex;
    align-items: center;
    gap: 5px;
}

footer .contact i{
    color: #9b8a29;
    overflow: hidden;
}

.copy{
    text-align: center;
    padding: 20px 0px;
    color: #9b8a29;
    background-color: #2b2b2b;
}

/*NavBar Mobile*/

#navbar-mobile{
    display: none;
    background-color: #333333;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbar-mobile .logo a {
    display: flex;
}

#navbar-mobile .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}

#navbar-mobile .logo img{
    max-width: 40px;
}

#navbar-mobile .logo i{
    font-size: 24px;
    padding: 20px 0px;
    color: #9b8a29;}

#navbar-mobile ul {
    display: flex;
    flex-direction: column;  
}

#navbar-mobile li {
    text-align: center;
    margin-bottom: 30px;
}

#navbar-mobile a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#navbar-mobile .portfolio {
    color: #e2ca3f;
    border-bottom: solid 1px #e2ca3f;
}

#navbar-mobile a:not(.portfolio):hover {
    color: #e2ca3f;
}

#navbar-mobile #mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

#navbar-mobile #mobile-menu.active {
    max-height: 500px;
  }