.container-card {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card h2 {
    color: #9b8a29;
    margin-bottom: 20px;
}

.card p {
    text-align: justify;
    margin-bottom: 35px;
}

.galeria-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
}

.galeria-dupla {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.lado-midia {
    flex: 1 1 30%;
    max-width: 600px;
}

.lado-midia img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    display: block;
}

.lado-texto {
    flex: 1 1 45%;
    max-width: 600px;
    color: #fff;
}

#texto-slide h3 {
    color: #9b8a29;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#texto-slide p {
    text-align: center;
    font-size: 14px;

}

.lado-midia img,
#texto-slide {
    position: relative;
    transition: transform 0.4s ease;
}

.saindo-esquerda {
    transform: translateX(-100%);
}

.saindo-direita {
    transform: translateX(100%);
}

.entrando-esquerda {
    transform: translateX(-100%);
}

.entrando-direita {
    transform: translateX(100%);
}

.ativo {
    transform: translateX(0);
}

.seta.externa {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    line-height: 1;
}

.seta.externa:hover {
    color: #9b8a29;
}

.seta.esquerda {
    margin-right: 10px;
}

.seta.direita {
    margin-left: 10px;
}

.indicadores {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.indicadores button {
    width: 10px;
    height: 10px;
    background-color: #666;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicadores button.ativo {
    background-color: #e2ca3f;
}

.link-botao.ativo {
    color: #e2ca3f;
}