* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

body.fade-in {
    opacity: 1;
}

#nav-desktop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 50px 15% 16px 15%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.5);
}

#nav-desktop img{
    max-width: 100%;
    width: 50px;
}

#nav-desktop ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#nav-desktop li{
    display: flex;
    margin-left: 60px;
    border-radius: 5px;
}

#nav-desktop a{
    color: white;
    text-decoration: none;
}

#nav-desktop a:not(.start,.instagram,.youtube,.cel,.email):hover{
    color: #e2ca3f;
}

#nav-desktop .start{
    color: #e2ca3f;
    border-bottom: solid 1px #e2ca3f;
}

main {
    padding: 116px 15% 0px 15%;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
}

.section1 img{
    max-width: 40%;
    /*height: auto;*/
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 50px;*/
    padding: 50px 15%;
    background-color: #2b2b2b;
}

footer #logo{
    max-width: 200px;
}

footer .content-contact{
    display: flex;
    flex-direction: column;
}

footer .rede-social{
    display: flex;
    align-items: center;
    margin: 30px auto;
    gap: 5px;
    font-size: 20px;
}

footer .fa-instagram{
    display: flex;
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

footer .fa-youtube{
    display: flex;
    color: red;
    overflow: hidden;
}

footer a{
    text-decoration: none;
    color: white;
}

footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer .tel, .email{
    display: flex;
    align-items: center;
    gap: 5px;
}

footer .contact i{
    color: #9b8a29;
    overflow: hidden;
}

.copy{
    text-align: center;
    padding: 20px 0px;
    color: #9b8a29;
    background-color: #2b2b2b;
}

/*NavBar Mobile*/

#navbar-mobile{
    display: none;
    /*background-color: #1e1e1e;*/
    background-color: #333333;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 3px rgb(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbar-mobile .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}

#navbar-mobile .logo img{
    max-width: 40px;
}

#navbar-mobile .logo i{
    font-size: 24px;
    padding: 20px 0px;
    color: #9b8a29;}

#navbar-mobile ul {
    display: flex;
    flex-direction: column;  
}

#navbar-mobile li {
    text-align: center;
    margin-bottom: 30px;
}

#navbar-mobile a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#navbar-mobile .start {
    color: #e2ca3f;
    border-bottom: solid 1px #e2ca3f;
}

#navbar-mobile a:not(.start):hover {
    color: #e2ca3f;
}

#navbar-mobile #mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

#navbar-mobile #mobile-menu.active {
    max-height: 500px;
  }