/*=========================================================
CELULAR PEQUENO
=========================================================*/
@media (max-width: 480px) {

    #nav-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }

    main {
        padding: 0rem 1.25rem 3.125rem 1.25rem;
    }

    .home {
        margin-top: 10rem;
    }

    .container-programacao {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }

    .container-agenda .container-programacao .evento {
        align-items: center;
        margin: 0;
    }

    .container-agenda .container-programacao .button {
        margin: 0;
    }

    .container-agenda .container-programacao .button a:hover {
        color: unset;
    }

    .container-agenda .container-programacao .button:hover {
        border-color: unset;
    }

    .localizacao {
        align-items: center;
    }

    .link-mapa {
        margin-left: 0;
    }

    .horario {
        margin-left: 0;
    }

    .titulo-eventos-hoje,
    .titulo-eventos-futuros,
    .titulo-eventos-passados {
        text-align: center;
    }
}

/*=========================================================
CELULAR MÉDIO / GRANDE (TIPO IPHONE PLUS, GALAXY S, ETC.)
=========================================================*/
@media (min-width: 481px) and (max-width: 767px) {

    #nav-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }

    main {
        padding: 0rem 1.25rem 3.125rem 1.25rem;
    }

    .home {
        margin-top: 10rem;
    }

    .container-programacao {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }

    .container-agenda .container-programacao .evento {
        align-items: center;
        margin: 0;
    }

    .container-agenda .container-programacao .button {
        margin: 0;
    }

    .container-agenda .container-programacao .button a:hover {
        color: unset;
    }

    .container-agenda .container-programacao .button:hover {
        border-color: unset;
    }

    .localizacao {
        align-items: center;
    }

    .link-mapa {
        margin-left: 0;
    }

    .horario {
        margin-left: 0;
    }

    .titulo-eventos-hoje,
    .titulo-eventos-futuros,
    .titulo-eventos-passados {
        text-align: center;
    }
}

/*=========================================================
TABLET VERTICAL (IPAD EM PÉ, POR EXEMPLO)
=========================================================*/
@media (min-width: 768px) and (max-width: 1023px) {

    #nav-desktop {
        padding: 3.125rem 3.125rem 1rem 3.125rem;
    }

    main {
        padding: 0rem 3.125rem 3.125rem 3.125rem;
    }

    .container-agenda .container-programacao .button a:hover {
        color: unset;
    }

    .container-agenda .container-programacao .button:hover {
        border-color: unset;
    }
}

/*=========================================================
DESKTOP PADRÃO / TABLET DEITADO
=========================================================*/
@media (min-width: 1024px) and (max-width: 1279px) {

    main {
        padding: 0rem 6.25rem 3.125rem 6.25rem;
    }

    .container-agenda .container-programacao .button a:hover {
        color: unset;
    }

    .container-agenda .container-programacao .button:hover {
        border-color: unset;
    }
}