/*=========================================================*/
/*Celular pequeno*/
/*=========================================================*/

@media (max-width: 480px) {

    #nav-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }

    .home {
        margin-top: 160px;
    }

    main {
        padding: 0px 20px 50px 20px;
    }

    .agendar-section {
        margin-top: 104px;
    }

    section h2 {
        text-align: center;
    }

    .input-row {
        display: block;
    }
}

/*=========================================================*/
/*Celular médio / grande (tipo iPhone Plus, Galaxy S, etc.)*/
/*=========================================================*/

@media (min-width: 481px) and (max-width: 767px) {

    #nav-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }

    .home {
        margin-top: 50px;
    }

    main {
        padding: 0px 20px;
    }
}

/*=========================================================*/
/*Tablet vertical (iPad em pé, por exemplo)*/
/*=========================================================*/

@media (min-width: 768px) and (max-width: 1023px) {

    #nav-desktop {
        padding: 50px 50px 16px 50px;
    }

    main {
        padding: 0px 50px 0px 50px;
    }

    .section-clipe {
        gap: 50px;
    }

    .section-tbt {
        gap: 50px;
    }

    .section-teaser {
        gap: 50px;
    }
}


/*=========================================================*/
/*Desktop padrão / Tablet deitado*/
/*=========================================================*/

@media (min-width: 1024px) and (max-width: 1279px) {

    main {
        padding: 0px 100px 0px 100px;
    }

    .section-clipe {
        gap: 100px;
    }

    .section-tbt {
        gap: 100px;
    }

    .section-teaser {
        gap: 100px;
    }
}