@media (max-width: 480px) {

    #nav-desktop{
        display: none;
    }
    
    #navbar-mobile{
        display: block;
    }

    #navbar-mobile #mobile-menu a:not(.contact):hover {
        color: inherit;
    }
    
    main {
        padding: 0px 20px;
    }

    .agendar-section{
        margin-top: 104px;
    }
    
    section h2{
        text-align: center;
    }

    .input-row{
        display: block;
    }

    .input-group{
        flex: 100%;
    }

    form label{
        color: #9b8a29;
    }

    section h2{
        color: #9b8a29;
    }
}