/*=========================================================*/
/*Celular pequeno*/
/*=========================================================*/

@media (max-width: 479px) {
    .container-download .download .linha .container-buttom {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    #nav-desktop {
        display: none;
    }

    .home {
        margin-bottom: 40px;
    }

    #navbar-mobile {
        display: block;
    }

    main {
        padding: 0px 20px 50px 20px;
    }

    .container-download {
        margin-top: 156px;
    }

    /*Currículo e Portólio para download*/

    .container-download .title-text h2 {
        text-align: center;
    }

    /*Múscias para download*/

    .container-audio .title-text h2 {
        text-align: center;
    }

    .container-audio .audio .title-audio {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .container-audio .audio .title-audio .player {
        width: 100%;
    }

    /*Vídeos para download*/

    .container-video .video {
        flex-direction: column;
        gap: 40px;
    }

    .container-video .title-text h2 {
        text-align: center;
    }

    /*Logomarca para download*/

    .container-img .title-text h2 {
        text-align: center;
    }

    .container-img .img {
        flex-direction: column;
        gap: 20px;
    }

    .container-img .img .img-banner .fundo-quadriculado {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    footer {
        border-radius: 20px 20px 0px 0px;
    }

    .copy {
        padding: 20px 20px;
    }
}

/*=========================================================*/
/*Celular médio / grande (tipo iPhone Plus, Galaxy S, etc.)*/
/*=========================================================*/

@media (min-width: 481px) and (max-width: 767px) {

    #nav-desktop {
        display: none;
    }

    .home {
        margin-bottom: 40px;
    }

    #navbar-mobile {
        display: block;
    }

    main {
        padding: 0px 20px;
    }

    /*Currículo e Portólio para download*/

    .container-download .title-text h2 {
        text-align: center;
    }

    /*Múscias para download*/

    .container-audio .title-text h2 {
        text-align: center;
    }

    /*Vídeos para download*/

    .container-video .title-text h2 {
        text-align: center;
    }

    /*Logomarca para download*/

    .container-img .title-text h2 {
        text-align: center;
    }

    .container-img .img {
        flex-direction: column;
        gap: 20px;
    }

    .container-img .img .img-banner .fundo-quadriculado {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    footer {
        border-radius: 20px 20px 0px 0px;
    }

    .copy {
        padding: 20px 20px;
    }
}

/*=========================================================*/
/*Tablet vertical (iPad em pé, por exemplo)*/
/*=========================================================*/

@media (min-width: 768px) and (max-width: 1023px) {

    #nav-desktop {
        padding: 50px 50px 16px 50px;
    }

    main {
        padding: 0px 50px 50px 50px;
    }

    /*Currículo e Portólio para download*/

    .container-download .title-text h2 {
        text-align: center;
    }

    /*Múscias para download*/

    .container-audio .title-text h2 {
        text-align: center;
    }

    /*Vídeos para download*/

    .container-video .title-text h2 {
        text-align: center;
    }

    /*Logomarca para download*/

    .container-img .title-text h2 {
        text-align: center;
    }

    .container-img .img {
        flex-direction: column;
        gap: 20px;
    }


    .container-img .img .img-banner .fundo-quadriculado {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    footer {
        border-radius: 20px 20px 0px 0px;
    }
}


/*=========================================================*/
/*Desktop padrão / Tablet deitado*/
/*=========================================================*/

@media (min-width: 1024px) and (max-width: 1279px) {

    main {
        padding: 0px 100px 50px 100px;
    }

    /*Currículo e Portólio para download*/

    .container-download .title-text h2 {
        text-align: center;
    }

    /*Múscias para download*/

    .container-audio .title-text h2 {
        text-align: center;
    }

    /*Vídeos para download*/

    .container-video .title-text h2 {
        text-align: center;
    }

    /*Logomarca para download*/

    .container-img .title-text h2 {
        text-align: center;
    }
}