/*=========================================================
CELULAR PEQUENO
=========================================================*/
@media (max-width: 480px) {

    #nav-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }

    main {
        padding: 0rem 1.25rem 3.125rem 1.25rem;
    }

    .filtros-galeria {
        justify-content: center;
        margin-bottom: 3rem;
    }
}

/*=========================================================
CELULAR MÉDIO / GRANDE (TIPO IPHONE PLUS, GALAXY S, ETC.)
=========================================================*/
@media (min-width: 481px) and (max-width: 767px) {

    #nav-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }

    main {
        padding: 0rem 1.25rem 3.125rem 1.25rem;
    }

    .filtros-galeria {
        justify-content: center;
        margin-bottom: 2.5rem;
    }
}

/*=========================================================
TABLET VERTICAL (IPAD EM PÉ, POR EXEMPLO)
=========================================================*/
@media (min-width: 768px) and (max-width: 1023px) {

    #nav-desktop {
        padding: 3.125rem 3.125rem 1rem 3.125rem;
    }

    main {
        padding: 0rem 3.125rem 3.125rem 3.125rem;
    }

    .filtros-galeria {
        justify-content: center;
        margin-bottom: 2.5rem;
    }
}

/*=========================================================
DESKTOP PADRÃO / TABLET DEITADO
=========================================================*/
@media (min-width: 1024px) and (max-width: 1279px) {

    main {
        padding: 0rem 6.25rem 3.125rem 6.25rem;
    }
}