/*=========================================================*/
/*Celular pequeno*/
/*=========================================================*/

@media (max-width: 480px) {

    #nav-desktop{
        display: none;
    }
    
    #navbar-mobile{
        display: block;
    }
    
    main {
        padding: 104px 20px 0px;
    }
    
    .section-video p{
        padding: 0px 10px;
    }

    footer{
        border-radius: 20px 20px 0px 0px;
    }

    .copy{
        padding: 20px 20px;
    }
  }

/*=========================================================*/
/*Celular médio / grande (tipo iPhone Plus, Galaxy S, etc.)*/
/*=========================================================*/

@media (min-width: 481px) and (max-width: 767px) {
    
    #nav-desktop{
        display: none;
    }

    #navbar-mobile{
        display: block;
    }

    main {
        padding: 103px 20px 0px;
    }

    .section-video p{
        padding: 0px 10px;
    }

    footer{
        border-radius: 20px 20px 0px 0px;
    }

    .copy{
        padding: 20px 20px;
    }
  }

/*=========================================================*/
/*Tablet vertical (iPad em pé, por exemplo)*/
/*=========================================================*/

@media (min-width: 768px) and (max-width: 1023px) {

    #nav-desktop{
        padding: 50px 50px 16px 50px;
    }

    main {
        padding: 116px 50px 0px 50px;
    }

    .section-video p{
        padding: 0px 50px;
    }

    footer{
        border-radius: 20px 20px 0px 0px;
    }
  }
  
/*=========================================================*/
/*Desktop padrão / Tablet deitado*/
/*=========================================================*/

@media (min-width: 1024px) and (max-width: 1279px) {

    main {
        padding: 116px 50px 0px 50px;
    }
    
    footer{
        border-radius: 20px 20px 0px 0px;
    }
}  