/*=========================================================*/
/*Celular pequeno*/
/*=========================================================*/

@media (max-width: 480px) {

    header h1 {
        font-size: 16px;
    }

    main {
        padding: 50px 20px 50px 20px;
    }

    main .atualizacao {
        text-align: center;
    }
}

/*=========================================================*/
/*Celular médio / grande (tipo iPhone Plus, Galaxy S, etc.)*/
/*=========================================================*/

@media (min-width: 481px) and (max-width: 767px) {

    main {
        padding: 50px 20px 50px 20px;
    }
}

/*=========================================================*/
/*Tablet vertical (iPad em pé, por exemplo)*/
/*=========================================================*/

@media (min-width: 768px) and (max-width: 1023px) {}


/*=========================================================*/
/*Desktop padrão / Tablet deitado*/
/*=========================================================*/

@media (min-width: 1024px) and (max-width: 1279px) {}