/*=========================================================*/
/*Celular pequeno*/
/*=========================================================*/

@media (max-width: 480px) {

    #nav-desktop{
        display: none;
    }
    
    #navbar-mobile{
        display: block;
    }

    #navbar-mobile #mobile-menu a:not(.portfolio):hover {
        color: inherit;
    }

    main {
        padding: 164px 20px 50px 20px;
    }
    
    .container-video{
        flex-direction: column;
    }
    
    .container-video .text{
        width: 100%;
    }
    
    .container-video .video{
        width: 100%;
    }

    .container-video .ordem {
        order: 2;
    }

    footer{
        border-radius: 20px 20px 0px 0px;
    }

    .copy{
        padding: 20px 20px;
    }
}

/*=========================================================*/
/*Celular médio / grande (tipo iPhone Plus, Galaxy S, etc.)*/
/*=========================================================*/

@media (min-width: 481px) and (max-width: 767px) {
    
    #nav-desktop{
        display: none;
    }

    #navbar-mobile{
        display: block;
    }

    #navbar-mobile #mobile-menu a:not(.portfolio):hover {
        color: inherit;
    }

    main {
        padding: 164px 20px 50px 20px;
    }

    .container-video{
        gap: 20px;
    }

    footer{
        border-radius: 20px 20px 0px 0px;
    }

    .copy{
        padding: 20px 20px;
    }
  }

/*=========================================================*/
/*Tablet vertical (iPad em pé, por exemplo)*/
/*=========================================================*/

@media (min-width: 768px) and (max-width: 1023px) {
    
    main {
        padding: 164px 50px 50px 50px;
    }

    footer{
        border-radius: 20px 20px 0px 0px;
    }
  }
  

/*=========================================================*/
/*Desktop padrão / Tablet deitado*/
/*=========================================================*/

@media (min-width: 1024px) and (max-width: 1279px) {


  }  
  