@media (max-width: 480px) {

    #nav-desktop{
        display: none;
    }
    
    #navbar-mobile{
        display: block;
    }

    #navbar-mobile #mobile-menu a:not(.portfolio):hover {
        color: inherit;
    }
    
    main {
        padding: 0px 20px;
    }

    .section-clipe{
        display:block;
    }

    .section-clipe .text p{
        margin-bottom: 24px;
    }
    
    .section-clipe .video h3{
        margin-bottom: 0px;
    }
    
    .section-tbt{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 26px;
    }
    
    .section-tbt iframe {
        order: 2;
    }
    
    .section-tbt .text {
        order: 1;
    }
    
    .section-teaser{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 24px;
    }

    .section-teaser .video-resolution, .section-tbt .video-resolution, .section-clipe .video-resolution{
        width: 100%;
        height: auto;
        /*border: solid 1px red;*/
    }

    .section-teaser #vira-vira-video{
        order: 2;
    }

    .section-teaser #vira-vira-text{
        order: 1;
    }
}