/*=========================================================*/
/*Celular pequeno*/
/*=========================================================*/

@media (max-width: 480px) {

    #nav-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }

    .home {
        margin-bottom: 5px;
    }

    main {
        padding: 164px 20px 50px 20px;
    }

    .container-historico .historico {
        flex-direction: column;
    }

    .container-historico .historico .container-text {
        width: 100%;
    }

    .container-historico .historico .container-img {
        width: 100%;
    }

    .container-historico .historico .container-img .descricao {
        text-align: center;
    }

    .container-historico .historico .ordem {
        order: 2;
    }
}

/*=========================================================*/
/*Celular médio / grande (tipo iPhone Plus, Galaxy S, etc.)*/
/*=========================================================*/

@media (min-width: 481px) and (max-width: 767px) {

    #nav-desktop {
        display: none;
    }

    #navbar-mobile {
        display: block;
    }

    .home {
        margin-bottom: 5px;
    }

    main {
        padding: 164px 20px 50px 20px;
    }

    .container-historico .historico {
        gap: 20px;
    }
}

/*=========================================================*/
/*Tablet vertical (iPad em pé, por exemplo)*/
/*=========================================================*/

@media (min-width: 768px) and (max-width: 1023px) {

    #nav-desktop {
        padding: 50px 50px 16px 50px;
    }

    main {
        padding: 164px 50px 50px 50px;
    }
}


/*=========================================================*/
/*Desktop padrão / Tablet deitado*/
/*=========================================================*/

@media (min-width: 1024px) and (max-width: 1279px) {

    main {
        padding: 164px 50px 50px 50px;
    }
}