/*=========================================================*/
/*Celular pequeno*/
/*=========================================================*/

@media (max-width: 480px) {

    footer {
        border-radius: 20px 20px 0px 0px;
    }

    .copy {
        padding: 20px 20px;
    }
}

/*=========================================================*/
/*Celular médio / grande (tipo iPhone Plus, Galaxy S, etc.)*/
/*=========================================================*/

@media (min-width: 481px) and (max-width: 767px) {

    footer {
        border-radius: 20px 20px 0px 0px;
    }

    .copy {
        padding: 20px 20px;
    }
}

/*=========================================================*/
/*Tablet vertical (iPad em pé, por exemplo)*/
/*=========================================================*/

@media (min-width: 768px) and (max-width: 1023px) {

    footer {
        border-radius: 20px 20px 0px 0px;
    }
}

/*=========================================================*/
/*Desktop padrão / Tablet deitado*/
/*=========================================================*/

@media (min-width: 1024px) and (max-width: 1279px) {

    footer {
        border-radius: 20px 20px 0px 0px;
    }
}